<launch>
    <!-- slam stack -->
    <include file="$(find tinker_navigation)/launch/slam.launch" />

    <!-- move_base -->
    <node pkg="move_base" type="move_base" name="move_base" output="screen" respawn="true">
        <rosparam file="$(find tinker_navigation)/config/navigation/costmap_common_params.yaml" command="load" ns="global_costmap" /> 
        <rosparam file="$(find tinker_navigation)/config/navigation/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find tinker_navigation)/config/navigation/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find tinker_navigation)/config/navigation/global_costmap_params.yaml" command="load" /> 
        <rosparam file="$(find tinker_navigation)/config/navigation/teb_local_planner_params.yaml" command="load" />
    </node>
</launch>
