<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <!-- robot urdf -->
    <param name="robot_description" command="xacro '$(find tinker_description)/urdf/tinker.urdf.xacro'" />

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen" respawn="true" />
</launch>